:host {
    align-self: flex-start;
    padding: 30px;
    margin: 0;
    background-image: url("../../assets/User_icon_BLACK-01.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100px;
}

h1 {
    text-align: center;
}

p + p {
    margin-top:80px;
}

