<h2>Todos los PCR</h2>
<form>
    <div class="form-row justify-content-center">
        <div class="form-group col-7">
        <label for="buscarRut">Buscar por rut:</label>
        <input [(ngModel)]="busquedaRut" name="busquedaRut" type="text" class="form-control" id="buscarRut" aria-describedby="rut" placeholder="Ingresa rut">
        <small id="rut" class="form-text text-muted">Rut debe ser ingresado con puntos y guion (11.111.111-1)</small>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <input type="button" class="btn btn-primary text-center" (click)="buscarPorRut()" value="Buscar">
    </div>
</form>

    <div class="list-group mt-5">
        <a class="list-group-item list-group-item-action text-center" *ngFor="let pcr of todosLosPcr" routerLink="/informacion/{{pcr.rut}}"> {{ pcr.nombre }} {{ pcr.apellido }} Rut: {{ pcr.rut }} - Resultado:{{ pcr.resultado}} </a>
    </div>
