<h2 class="mt-3 text-center">Todos los PCR</h2>
<form #formaRut="ngForm">
    <div class="form-row justify-content-center">
        <div class="form-group col-6">
        <label for="buscarRut">Buscar por rut:</label>
        <input name="busquedaRut" type="text" class="form-control" id="buscarRut" aria-describedby="rut" placeholder="Ingresa rut"
        [(ngModel)]="busquedaRut" (ngModelChange)="resetearLista($event)" #rut="ngModel" pattern="^(\d{1}|\d{2})\.(\d{3}\.\d{3}-)([kK]{1}$|\d{1}$)" required>
        <small id="rut" class="form-text text-muted">Rut debe ser ingresado con puntos y guión (11.111.111-1)</small>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <input type="button" class="btn btn-success text-center" (click)="buscarPorRut(formaRut)" value="Buscar">
    </div>
</form>

    <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-6">
            <div class="list-group mt-5">
                <p *ngIf="todosLosPcr && todosLosPcr.length === 0" class="text-center align-self-center">No hay resultados</p> 
                <ng-container *ngFor="let pcr of todosLosPcr" >
                    <a class="list-group-item list-group-item-action text-center"  routerLink="/informacion/{{pcr.rut}}"> Nombre: {{ pcr.nombre }} {{ pcr.apellido }} - Rut: {{ pcr.rut }} - Resultado:{{ pcr.resultado }} </a>
                </ng-container>
            </div>
        </div>
    </div>
