
<h1 class="text-center mt-3">Informacion Exámen</h1>
<!-- 
<ng-container *ngIf="pcrService.currentPCR else mensaje">
    <div class="container justify-content-center text-center my-4 pb-5">
        <p>
            <strong> Nombre:</strong> {{ pcrService.currentPCR.nombre }}
        </p>
        <p>
            <strong> Apellido:</strong> {{ pcrService.currentPCR.apellido }}
        </p>
        <p>
            <strong> Rut:</strong> {{ pcrService.currentPCR.rut }}
        </p>
        <p>
            <strong> Edad:</strong> {{ pcrService.currentPCR.edad }}
        </p>
        <p>
            <strong> Numero de Telefono: </strong>{{ pcrService.currentPCR.numeroTelefono }}
        </p>
        <p>
            <strong> Numero de emergencia: </strong>{{ pcrService.currentPCR.numeroEmergencia }}
        </p>
        <p>
            <strong> Direccion de residencia:</strong> {{ pcrService.currentPCR.direccion }}
        </p>
        <p>
            <strong> Comuna de residencia:</strong> {{ pcrService.currentPCR.comunaDeResidencia }}
        </p>
        <p>
            <strong> Villa o Población: </strong>{{ pcrService.currentPCR.residencia }}
        </p>
        <p>
            <strong> Paciente de Alto Riesgo:</strong> {{ pcrService.currentPCR.altoRiesgo }}
        </p>
        <p>
            <strong> Hora de exámen:</strong> {{ pcrService.currentPCR.hora }}
        </p>
        <p>
            <strong> Lugar de exámen:</strong> {{ pcrService.currentPCR.locacion }}
        </p>
        <p>
            <strong> Correo:</strong> {{ pcrService.currentPCR.correo }}
        </p>
        <button class="btn btn-success">Actualizar</button>
    </div>  

</ng-container>

<ng-template #mensaje>
    <h1 class="text-center">Cargando...</h1>
</ng-template> -->
<div class="row justify-content-center">


<table class="table table-bordered table-striped col-8">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Datos personales</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Nombre</th>
          <td>{{ pcrService.currentPCR.nombre }} {{pcrService.currentPCR.apellido }}</td>
      </tr>
      <tr>
        <th>Rut</th>
        <td>{{ pcrService.currentPCR.rut }}</td>
      </tr>
      <tr>
        <th>Edad</th>
        <td>{{ pcrService.currentPCR.edad }}</td>
      </tr>
      <tr>
          <th>Alto riesgo</th>
          <td>{{ pcrService.currentPCR.altoRiesgo }}</td>
        </tr>
      
    </tbody>
  </table>
  <div class="w-100"></div>
  <table class="table table-bordered table-striped col-8">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Datos de contacto</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th>Dirección de residencia</th>
            <td>{{ pcrService.currentPCR.direccion }}</td>
          </tr>
        <tr>
          <th>Comuna de residencia</th>
          <td>{{ pcrService.currentPCR.comunaDeResidencia }}</td>
        </tr>
        <tr>
          <th>Villa o población</th>
          <td>{{ pcrService.currentPCR.villaPoblacion }}</td>
        </tr>
      <tr>
        <th>Numero de teléfono</th>
        <td>{{ pcrService.currentPCR.telefono }}</td>
      </tr>
      <tr>
        <th>Numero secundario</th>
        <td>{{ pcrService.currentPCR.telefonoSecundario }}</td>
      </tr>
      <tr>
        <th>Correo</th>
        <td>{{ pcrService.currentPCR.correo }}</td>
      </tr>      
    </tbody>
  </table>
  <div class="w-100"></div>
  <table class="table table-bordered table-striped col-8">
    <thead class="thead-dark">
      <tr>
        <th colspan="2">Datos de examen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Hora de exámen</th>
        <td>{{ pcrService.currentPCR.hora }}</td>
      </tr>
      <tr>
        <th>Lugar de exámen</th>
        <td>{{ pcrService.currentPCR.lugarTomaExamen }}</td>
      </tr>   
      <tr>
        <th>Resultado de exámen</th>
        <td>{{ pcrService.currentPCR.resultado }}</td>
      </tr>   
      <tr>
        <th>Fecha de exámen</th>
        <td>{{ pcrService.currentPCR.fechaExamen }}</td>  
      </tr>   
    </tbody>
  </table>
  <div class="w-100"></div>
  <button class="btn btn-success">Actualizar</button>
  <button class="btn btn-danger mr-3"data-toggle="modal" data-target="#exampleModal">Borrar</button>
</div>

<app-bienvenida></app-bienvenida>