:host {
    align-self: center;
}

.contenedor-login{
    display:flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: #BEBEBE;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url("../../assets/User_icon_BLACK-01.png");
    background-repeat: no-repeat;
    background-position: 49% 9%;
    background-size: 173px;
    flex: 2 2 500px;
}

form {
    background-color: #BEBEBE; 
}

label {
    align-self: flex-start;
}
