<!-- <app-buscar-rut></app-buscar-rut> -->
<form>
    <div class="form-row justify-content-center pt-5">
        <div class="form-group col-6">
        <label for="buscarRut">Ingresar Búsqueda:</label>
        <input name="busquedaRut" type="text" class="form-control" id="buscarRut" aria-describedby="rut" placeholder="Ingresa rut">
        <small id="rut" class="form-text text-muted">Rut debe ser ingresado con puntos y guión (11.111.111-1)</small>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-column col-3">
            <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="rut">
                <label class="form-check-label" for="inlineRadio1">Buscar por rut</label>
              </div>
            <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="nombre">
                <label class="form-check-label" for="inlineRadio1">Buscar por nombre o apellido</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="comuna">
                <label class="form-check-label" for="inlineRadio2">Buscar por comuna</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="resultado">
                <label class="form-check-label" for="inlineRadio3">Ver resultados positivos</label>
              </div>
        </div>
        <div class="form-column col-3">
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="resultado">
              <label class="form-check-label" for="inlineRadio3">Ver resultados negativos</label>
            </div>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="resultado">
              <label class="form-check-label" for="inlineRadio3">Ver resultados pendientes</label>
            </div>
            <div class="form-check form-check">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="altoRiesgo">
              <label class="form-check-label" for="inlineRadio3">Ver pacientes de alto riesgo</label>
            </div>
        </div>
    </div>
    <div class="form-row justify-content-center mt-3">
        <input type="button" class="btn btn-success text-center" value="Buscar">
    </div>
</form>

<div class="row justify-content-center">
    <div class="col-6" >
        <div class="list-group mt-5">
            <a class="list-group-item list-group-item-action text-center" *ngFor="let pcr of todosLosPcr" routerLink="/informacion/{{pcr.rut}}"> Nombre: {{ pcr.nombre }} {{ pcr.apellido }} - Rut: {{ pcr.rut }} - Resultado:{{ pcr.resultado}} </a>
        </div>
    </div>
</div>